body {
    background-color: #0e162a;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

button {
    color: white;
}


.but-ani {
    text-align: center;
    padding: 30 px;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: none;
    display: block;
    margin: auto;
    margin-top: 35px;
    position: relative;
    border: white 2px solid;
    background: #0e162a;
    font-size: 20px;
    transition: background-color 0.5s ease;
}

.but-ani:active {
    transform: scale(0.99);
    transition: 0.3s ease;
    filter: blur(0.3);
  }
  
.but-ani:before {
    content: "";
    background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 40s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.but-ani:hover {
    background: #1d2843;
    border-radius: 10px;
    transition: 0.5;
    cursor: pointer;
}